asyncpg==0.25.0
bcrypt==3.2.0
databases==0.5.5
DateTime==4.3
decorator==4.4.2
fastapi==0.73.0
gunicorn==20.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==1.0.0
jsonschema==3.2.0
psycopg2==2.8.6
pydantic==1.9.0
python-dotenv==0.15.0
python-jose==3.3.0
python-multipart==0.0.5
SQLAlchemy==1.4.23
sqlparse==0.4.1
starlette==0.17.1
typing==3.7.4.3
typing-extensions==3.7.4.3
uuid==1.30
uvicorn==0.16.0
validators==0.18.2
